/* reset css */
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
html {
  font-size: 1vw;
}

@media (min-width: 1601px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 4.26666vw;
  }
}
@font-face {
  font-family: "SVN-Snell Roundhand Script";
  src: url("./Monotype\ \ -\ Neue\ Plak\ Condensed\ Black.ttf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
}
body {
  background: #f6f4ee;
}
.container {
  width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

.breadcrumb {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.breadcrumb a {
  color: var(--PRIMARY-500, #a8958d);
  text-align: justify;
  font-family: "Be Vietnam Pro";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 0.975rem */
  letter-spacing: -0.0075rem;
}
.breadcrumb a:last-of-type {
  color: var(--PRIMARY-700, #4b3930);
  text-align: justify;
  font-family: "Be Vietnam Pro";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 0.975rem */
  letter-spacing: -0.0075rem;
}
.breadcrumb_img {
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.5rem;
}

.banner_duan {
  width: 100%;
  height: 19.3125rem;
  position: relative;
}
.banner_duan_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.title_duan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--PRIMARY-100, #f6f4ee);
  font-family: "SVN-Snell Roundhand Script";
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.duan_container {
  margin-top: 2.62rem;
}
.fill_duan {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.fill_menu {
  display: flex;
  align-items: center;
}
.fill_menu_btn {
  display: flex;
  height: 2.25rem;
  padding: 0.625rem 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--PRIMARY-400, #cab8aa);
  margin-right: 1rem;
}
.fill_menu_btn:last-child {
  margin-right: 0;
}
.fill_menu_btn p {
  color: var(--PRIMARY-900, #1b1613);
  font-family: "Be Vietnam Pro";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.125rem */
  letter-spacing: -0.0075rem;
  text-transform: uppercase;
}
.fill_menu_btn.active {
  border-radius: 0.5rem;
  background: var(--PRIMARY-700, #4b3930);
}
.fill_menu_btn.active p {
  color: var(--PRIMARY-50, #fffefb);
  font-family: "Be Vietnam Pro";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.125rem */
  letter-spacing: -0.0075rem;
  text-transform: uppercase;
}
.fill_search_lable {
  color: var(--PRIMARY-800, #3a2b23);
  text-align: justify;
  font-family: "Be Vietnam Pro";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
  letter-spacing: -0.02rem;
  margin-right: 0.75rem;
}
.fill_search {
  display: flex;
  align-items: center;
}
.fill_dropdown {
  display: flex;
  width: 7.0625rem;
  height: 2.25rem;
  padding: 0.625rem 1rem 0.625rem 0.5rem;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--PRIMARY-500, #a8958d);
  cursor: pointer;
}
.fill_dropdown svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.fill_dropdown p {
  color: var(--PRIMARY-900, #1b1613);
  font-family: "Be Vietnam Pro";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.125rem */
  letter-spacing: -0.0075rem;
  text-transform: uppercase;
}
.fill_searchinput {
  display: flex;
  width: 16.6875rem;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  position: relative;
}
.fill_searchinput input {
  flex: 1 0 0;
  height: 2.25rem;
  padding: 0rem 0.25rem 0rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--PRIMARY-400, #cab8aa);
  color: var(--PRIMARY-500, #a8958d);
  text-align: justify;
  font-family: "Be Vietnam Pro";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 1.3125rem */
  letter-spacing: -0.0175rem;
}
.fill_searchinput svg {
  width: 1.75rem;
  height: 1.75rem;
  position: absolute;
  right: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
}
.data_duan {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem 1.5rem;
  margin-top: 3rem;
}
.noibat_item {
  cursor: pointer;
  display: flex;
  height: 22.5rem;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--PRIMARY-400, #cab8aa);
}
.noibat_item:hover .noibat_item_img img {
  transform: scale(1.1);
}
.noibat_item_img {
  width: 25.12594rem;
  height: 16.29256rem;
  overflow: hidden;
}
.noibat_item_img img {
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.noibat_item_title {
  padding: 1rem;
  width: 100%;
}
.noibat_item:hover .noibat_item_title {
  background: #e2d8ce;
}
.noibat_item_lable {
  color: var(--PRIMARY-600, #6f5d53);
  text-align: justify;

  /* WEB/CAPTION 14/Medium */
  font-family: "Be Vietnam Pro";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 1.1375rem */
  letter-spacing: -0.00875rem;
  margin-bottom: 0.5rem;
}
.menu_btn {
  display: flex;
  height: 2.25rem;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}
.noibat_item_title .menu_btn {
  width: 100%;
  height: 3.4rem;
}
.noibat_item:hover .nav_content {
  transform: translatey(-2rem);
}
.noibat_item:hover .nav_content_hover {
  transform: translatey(-100%);
}
.nav_content_hover {
  transform: translateY(2rem);
}
.nav_content_hover,
.nav_content {
  color: var(--PRIMARY-800, #3a2b23);
  font-family: "Be Vietnam Pro";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 1.3rem */
  letter-spacing: -0.01rem;
  transition: all 0.3s ease;
}
